<section class="top-ten__list-container">
  <h2 class="top-ten__header">Top <%= action_name %>s</h2>
  <ul class="list-group top-ten__list">
    <% top_ten = Work.top_ten(action_name) %>
    <% if top_ten.empty? %>
      <li class="list-group-item">No <%= action_name %>s Available</li>
    <% else %>
      <% top_ten.each do |work|%>
        <li class="list-group-item">
          <h4>
            <%= link_to "#{work.title}", work_path(work) %>
            <small class="top-ten__creator">by <%= work.creator %></small>
          </h4>
          <p><%= work.single_or_plural_votes %></p>
        </li>
      <% end %>
    <% end %>
  </ul>
</section>
