<main>
  <section class="spotlight">
    <h2 class="spotlight__header">
      <span class="spotlight__header--prefix">Media Spotlight:</span>
      <% if @media_spotlight %>
          <%= link_to @media_spotlight.title, work_path(@media_spotlight.id), class: "spotlight_link_to" %>
          by <%= @media_spotlight.creator %>
      <% else %>
          Please vote to see the most popular media here!
      <% end %>
    </h2>

    <p class="spotlight__description">
      <% if @media_spotlight%>
        <%= @media_spotlight.votes.count %> votes - <%=@media_spotlight.description %>
      <% else %>
        Please vote!
      <% end %>
    </p>
  </section>
  <hr class="root__hr">

  <div id = "boxes">
    <div id = "leftbox">
      <%= render partial: "top_ten", locals: {category: "Albums", works: @albums} %>
    </div>
    <div id = "middlebox">
       <%= render partial: "top_ten", locals: {category: "Books", works: @books} %>
    </div>
    <div id = "rightbox">
      <%= render partial: "top_ten", locals: {category: "Movies", works: @movies} %>
    </div>
 </div>
</main>