<% @work = Work.all %>
<% @movies = @work.where(category: "movie") %>
<% @books = @work.where(category: "book") %>
<% @albums = @work.where(category: "album") %>

  <div class="row">
    <div class="col-sm-12">
      <section class="spotlight">
        <h2 class="spotlight__header">
          <span class="spotlight__header--prefix">Media Spotlight: <%= link_to Work.first.title, work_path(1) %> by <%= Work.first.creator %></span>
        </h2>
        <p class="spotlight__description">
          4 votes - <%= Work.first.description %>
        </p>
      </section>
    </div>
  </div>

    <div class="row">
      <div class="col-sm-12 col-md-4 mx-0">
        <h2>Top Movies </h2>
        <section class="hp_ls_media">
        <ul class="unordered_list">
          <% @movies.each do |movie|  %>
            <%= link_to movie.title, work_path(movie.id)  %><small class="by"> by <%= movie.creator %></small></li>
            <br>
            <br>
          <% end %>
        </ul>
        </section>
      </div>
      <div class="col-sm-12 col-md-4">
        <h2>Top Books</h2>
        <section class="hp_ls_media">
        <ul class="unordered_list">
          <% @books.each do |book|  %>
            <li><%= link_to book.title, work_path(book.id)%><small class="by"> by <%= book.creator %></small></li>
            <br>
            <br>
          <% end %>
        </ul>
        </section>
      </div>
      <div class="col-sm-12 col-md-4">
        <h2>Top Albums</h2>
        <section class="hp_ls_media">
        <ul class="unordered_list">
          <% @albums.each do |album|  %>
            <li><%= link_to album.title, work_path(album.id) %><small class="by"> by <%= album.creator %></small></li>
            <br>
            <br>
          <% end %>
        </ul>
        </section>
      </div>
    </div>





