<section class = "spotlight"><h1><span class ="media">Media Spotlight: </span>
  <%= link_to @media_spotlight.title, work_path(@media_spotlight)%>  by <%= @media_spotlight.creator %> </h1>
<p class = "spotlight_description"> <%=@media_spotlight.description %> </p>
</section>
<section class="largest-container">
<section class="top-ten-container">
  <h2 class="top-ten-header"> Top Movies</h2>
  <ul class="top-ten-list">

    <% @top_movies.each do |work| %>
      <li class = "list-group-item"> <%= link_to work.title, work_path(work) %> <small class="creator"> <br> by <%= work.creator%> </small></li>
    <%end %>
  </ul>
</section>

<section class="top-ten-container">
  <h2 class="top-ten-header"> Top Books</h2>
    <ul class="top-ten-list">
      <% @top_books.each do |work| %>
        <li class = "list-group-item"> <%= link_to work.title, work_path(work) %> <small class="creator"> <br> by <%= work.creator%> </small> <br></li>
      <%end %>
    </ul>
</section>

<section class="top-ten-container">
  <h2 class="top-ten-header"> Top Albums</h2>
    <ul class="top-ten-list">
      <% @top_albums.each do |work| %>
        <li class = "list-group-item"> <%= link_to work.title, work_path(work) %> <small class="creator"> <br> by <%= work.creator%></small><br></li>
      <%end %>
    </ul>
</section>
</section>
<!


