<% spotlight_work = Work.spotlight %>

<h2>Media Spotlight:
  <% if spotlight_work.nil? %>
    <%= link_to "Add new works and upvote them!", new_work_path %>
  <% else %>
    <%= link_to spotlight_work.title, work_path(spotlight_work) + "by" + spotlight_work.creator %>
  <% end %>
</h2>
<p><%= spotlight_work.description unless spotlight_work.nil? %></p>

<h3>Top Albums</h3>
<%= render partial: "table", locals: { category: "album" } %>

<h3>Top Books</h3>
<%= render partial: "table", locals: { category: "book" } %>

<h3>Top Movies</h3>
<%= render partial: "table", locals: { category: "movie" } %>
