<main>

  <section class="spotlight">
    <h2 class="spotlight-header">
      <span class="spotlight-subheading">Media Spotlight</span>
      <% spotlight_work = Work.spotlight %>
      <%= link_to spotlight_work.title, work_path(spotlight_work.id), class: "spotlight__link-to" %>
      by <%= spotlight_work.creator %>
    </h2>
    <p class="spotlight-description">
      <%= spotlight_work.description %>
    </p>
  </section>

  <section class="top_ten">
    <h2>ALBUMS</h2>
    <ul class="top_ten_list">
      <% @albums.each do |work| %>
        <li class="list-item">
          <h4>
            <%= link_to work.title, work_path(work.id) %>
            <h5 class="top-ten-creator">by <%= work.creator %></h5>
          </h4>
          <p>VOTE COUNT HERE</p>
        </li>
      <% end %>
    </ul>
  </section>

  <section class="top_ten">
    <h2>BOOKS</h2>
    <ul class="top_ten_list">
      <% @books.each do |work| %>
        <li class="list-item">
          <h4>
            <%= link_to work.title, work_path(work.id) %>
            <h5 class="top-ten-creator">by <%= work.creator %></h5>
          </h4>
          <p>VOTE COUNT HERE</p>
        </li>
      <% end %>
    </ul>
  </section>

  <section class="top_ten">
    <h2>MOVIES</h2>
    <ul class="top_ten_list">
      <% @movies.each do |work| %>
        <li class="list-group-item">
          <h4>
            <%= link_to work.title, work_path(work.id) %>
            <h5 class="top-ten-creator">by <%= work.creator %></h5>
          </h4>
          <p>VOTE COUNT HERE</p>
        </li>
      <% end %>
    </ul>
  </section>
</main>