<main>
  <section class="spotlight">
    <h2>
      <span>Media Spotlight:</span>
      <% if Work.media_spotlight %>
        <%= link_to Work.media_spotlight.title, work_path(Work.media_spotlight.id), class: "spotlight-title" %>
        by <%= Work.media_spotlight.creator %>
      <% else %>
        Vote on some works to see the most popular item here!
      <% end %>
    </h2>
    <p class="spotlight-desc">
      <% if Work.media_spotlight %>
        <%= Work.media_spotlight.votes.count %> votes - <%= Work.media_spotlight.description %>
      <% else %>
        What're you waiting for? Get to voting!
      <% end %>
    </p>
  </section>
  <hr class="homepage-hr">
  <section class="top-ten">
    <%= render partial: "topten", locals: { category_name: "Movies", category: 'movie' } %>
    <%= render partial: "topten", locals: { category_name: "Books", category: 'book' } %>
    <%= render partial: "topten", locals: { category_name: "Albums", category: 'album' } %>
  </section>
</main>