<h2>
  <% spotlight = Work.spotlight %>
  <% if spotlight.nil? %>
    Database is empty, <%= link_to "Add media!", new_work_path %>
  <% else %>
    Media Spotlight <%= link_to spotlight.title, work_path(spotlight)%> by <%= spotlight.creator %>
  <% end %>
</h2>

<p>
  <%= spotlight.votes.count %> votes - <%= spotlight.description %>
</p>

<hr/>
<% Work::CATEGORIES.each do |media| %>
  <section>
    <h2>
      <% if Work.top_ten(media).nil? %>
        Top <%= media.capitalize + "s" %>: No works in database. <%= link_to "Add a work!", new_work_path %>
      <% else %>
        Top <%= media.capitalize + "s" %>
    </h2>
    <hr/>
    <ul>
      <% Work.where(category: media).sample(10).each do |item| %>
        <li>
          <h4><%= link_to item.title, work_path(item) %>
            <small> by <%= item.creator %></small>
          </h4>
          <p><%= item.votes.count %> votes</p>
        </li>
      <% end %>
      <% end %>
  </section>
<% end %>
