<main>
  <section class="spotlight">
    <% if @spotlight.nil? %>
      <h2><span>Media Spotlight:</span></h2>
    <% else %>
      <h2> <%= link_to @spotlight.title, work_path(@spotlight) %> by  <%= @spotlight.creator %>
      </h2>
      <p>
        <%= @spotlight.description %>
      </p>
    <% end %>
  </section>

  <section>
    <h3>Top Movies</h3>
    <ul>
      <% @top_movies.each do |work| %>
        <li>
          <%= link_to work.title, work_path(work.id)%> by <%= work.creator %>
        </li>
      <% end %>
    </ul>
  </section>

  <section>
    <h3>Top Books</h3>
    <ul>
      <% @top_books.each do |work| %>
        <li>
          <%= link_to work.title, work_path(work.id)%> by <%= work.creator %>
        </li>
      <% end %>
    </ul>
  </section>

  <section>
  <h3>Top Albums</h3>
  <ul>
    <% @top_albums.each do |work| %>
      <li>
      <%= link_to work.title, work_path(work.id)%> by <%= work.creator %>
      </li>
    <% end %>
  </ul>
  </section>

</main>