<h1>HOME</h1>

<section class="top_ten">
  <h2>ALBUMS</h2>
  <ul class="top_ten_list">
    <% @albums.each do |work| %>
      <li class="list-item">
        <h4>
          <%= link_to work.title, works_path(work.id) %>
          <h5 class="top-ten-creator">by <%= work.creator %></h5>
        </h4>
        <p>VOTE COUNT HERE</p>
      </li>
    <% end %>
  </ul>
</section>

<section class="top_ten">
  <h2>BOOKS</h2>
  <ul class="top_ten_list">
    <% @books.each do |work| %>
      <li class="list-item">
        <h4>
          <%= link_to work.title, works_path(work.id) %>
          <h5 class="top-ten-creator">by <%= work.creator %></h5>
        </h4>
        <p>VOTE COUNT HERE</p>
      </li>
    <% end %>
  </ul>
</section>

<section class="top_ten">
  <h2>MOVIES</h2>
  <ul class="top_ten_list">
    <% @movies.each do |work| %>
      <li class="list-group-item">
        <h4>
          <%= link_to work.title, works_path(work.id) %>
          <h5 class="top-ten-creator">by <%= work.creator %></h5>
        </h4>
        <p>VOTE COUNT HERE</p>
      </li>
    <% end %>
  </ul>
</section>