<main>
  <section class="spotlight">
    <h2>
      <span>Media Spotlight:</span>
      <%= link_to Work.media_spotlight.title, work_path(Work.media_spotlight.id), class: "spotlight-title" %>
      by <%= Work.media_spotlight.creator %>
    </h2>
    <p class="spotlight-desc">
      Num votes - <%= Work.media_spotlight.description %>
    </p>
  </section>
  <hr class="homepage-hr">
  <section class="top-ten">
    <%= render partial: "topten", locals: { category_name: "Movies", category_type: 'movie' } %>
    <%= render partial: "topten", locals: { category_name: "Books", category_type: 'book' } %>
    <%= render partial: "topten", locals: { category_name: "Albums", category_type: 'album' } %>
  </section>
</main>