<main>
  <section class="spotlight">
    <% if @spotlight.nil? %>
      <h2><span>Media Spotlight:</span></h2>
    <% else %>
      <h2> <%= link_to @spotlight.title, work_path(@spotlight) %> by  <%= @spotlight.creator %>
      </h2>
      <p>
        <%= @spotlight.description %>
      </p>
    <% end %>
  </section>

  <section class="top-ten-container">
    <section class="list">
      <h2 class="top-ten-header">Top Movies</h2>
      <ul>
        <% @top_movies.each do |work| %>
          <li>
            <div><%= link_to work.title, work_path(work.id)%> by <%= work.creator %>
            </div>
            <div><%= work.votes.count %> votes</div>
          </li>
        <% end %>
      </ul>
    </section>

    <section class="list">
      <h2 class="top-ten-header">Top Books</h2>
      <ul>
        <% @top_books.each do |work| %>
          <li>
            <div><%= link_to work.title, work_path(work.id)%> by <%= work.creator %>
            </div>
            <div><%= work.votes.count %> votes</div>
          </li>
        <% end %>
      </ul>
    </section>

    <section class="list">
    <h2 class="top-ten-header">Top Albums</h2>
    <ul>
      <% @top_albums.each do |work| %>
        <li>
        <div><%= link_to work.title, work_path(work.id)%> by <%= work.creator %>
        </div>
          <div><%= work.votes.count %> votes</div>
        </li>
      <% end %>
    </ul>
    </section>
  </section>
</main>