<%# do i also need the body/header? those are in the application.html.erb file? %>
<main>

  <section class="spotlight">
    <h2 class="spotlight__header">
      <% feat = Work.select_spotlight%>
      <% if feat %>
        <span class="spotlight__header--prefix">Media Spotlight: <%= link_to feat.title,  work_path(feat.id), class: "spotlight__link-to" %> by <%= feat.creator%></span>
      <% else %>
        <span class="spotlight__header--prefix">Media Spotlight: No Media Voted For :(</span>
      <% end %>
    </h2>
    <% if feat %>
      <p class="spotlight__description"><%= feat.description %></p>
    <% end %>
  </section>

  <hr class="root__hr">
  <section class="top-ten__container">
    <section class="top-ten__list-container">
      <% top_movies = Work.select_top_ten("movies") %>
      <%= render partial: "table", locals: {category: "movies", top_works: top_movies} %>
    </section>

    <section class="top-ten__list-container">
      <% top_books = Work.select_top_ten("books") %>
      <%= render partial: "table", locals: {category: "books", top_works: top_books} %>
    </section>

    <section class="top-ten__list-container">
      <% top_albums = Work.select_top_ten("albums") %>
      <%= render partial: "table", locals: {category: "albums", top_works: top_albums} %>
    </section>

  </section>
</main>