
<main>
  <section class="spotlight">
    <h2 class="spotlight__header">
      <span class="spotlight__header--prefix">Media Spotlight:</span>
      <%=link_to(Work.top_one.title, work_path(Work.top_one), class: "spotlight__link-to")%>
    </h2>
    <p class="spotlight__description">
      <%=Work.top_one.votes.count%> votes
    </p>
  </section>

  <hr class="root__hr">

  <section class="top-ten__container">
    <% categories.each do |category|%>
      <section class="top-ten__list-container">
      <h2 class="top-ten__header">
        <%="Top #{category}s" %>
      </h2>
        <%Work.top_ten(category).each do |work|%>
        <ul class="list-group top-ten__list">
          <li class="list-group-item">
            <h4>
              <%=link_to(work.title, work_path(work.id))%>
            </h4>
            <p>
              <%=work.votes.count%> votes
            </p>
          </li>
          </ul>
        <%end%>
      </section>
    <% end %>
  </section>
</main>


