<section class="spotlight">
  <h2 class="spotlight__header">
    <span class="spotlight__header--prefix">Media Spotlight</span>
    <%= link_to @media_spotlight.title, works_path(@media_spotlight.id), class:
        "spotlight__link-to" %> by <%= @media_spotlight.creator %>
  </h2>
  <p class="spotlight__description">
    <%= @media_spotlight.description %>
  </p>
</section>
<hr class="root__hr" />
<section class="top-ten__container">
  <% @works_hash.each_key do |category| %>
    <section class="top-ten__list-container">
      <h2 class="top-ten__header">Top <%= "#{category.capitalize}s" %></h2>
      <% if @works_hash[category].empty? %>
          <br><h3>This category is empty!</h3><br>
      <% else %>
      <ul class="list-group top-ten__list">
        <% @works_hash[category].each do |work| %>
        <li class="list-group-item">
          <h4>
            <%= link_to work.title, works_path(work.id) %>
            <small class="top-ten__creator">by <%= work.creator %></small>
          </h4>
        </li>
        <% end %>
      </ul>
      <% end %>
    </section>
  <% end %>
</section>