<%= form_with model: @work do |f| %>
  <div class="form-group">
    <%= f.label :category %>
    <br>
    <%= f.select(:category, options_for_select(['album', 'book', 'movie']), {}, { :class => 'form-control' }) %>
  </div>
  <div class="form-group">
    <%= f.label :title %>
    <br>
    <%= f.text_field :title, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :creator %>
    <br>
    <%= f.text_field :creator, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :publication_year %>
    <br>
    <%= f.text_field :publication_year, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <br>
    <%= f.text_area :description, :class => "form-control" %>
  </div>
  <br>
  <%= f.submit action_name, :class => "btn btn-primary"%>
<% end %>