<%= form_with model: @work, class: 'work-form' do |f| %>

  <p><%= f.label :category %>
    <%= f.select :category, options_for_select(Work.all.map(&:category).uniq) %>
  </p>

  <p><%= f.label :title %>
    <%= f.text_field :title %></p>

  <p><%= f.label :creator %>
    <%= f.text_field :creator %></p>

  <p><%= f.label :publication_year %>
    <%= f.text_field :publication_year %></p>

  <p><%= f.label :description %>
    <%= f.text_area :description %></p>


  <p> <%= f.submit action_name, class: 'work-button' %></p>
<% end %>