<section>
  <article class="form-border">  
    <% if @work.errors.any? %>
      <ul class="alert alert-warning" role="alert">
        <% @work.errors.each do |column, message| %>
          <li>
            <%= column %> <%= message %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </article>

  <article class="form-border">  
    <% if action_name == "Edit" %>
      <h2>Edit This <%= @work.category.capitalize %></h2>
    <% else %>
      <h2>Add a new work</h2>
    <% end %>      
  </article>

  <article>
    <%= form_with model: @work do |f| %>
      <div class="form-group">
        <%= f.label :category %>
        <!-- collection_select with category model would be a better choice, but haven't figured out how to upload local database to heruko -->
        <select class="form-control">
          <option>album</option>
          <option>book</option>
          <option>movie</option>
        </select>
      </div>  
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :creator %>
        <%= f.text_field :creator, class: "form-control" %>
      </div> 
      <div class="form-group">
        <%= f.label :publication_year %>
        <%= f.text_field :publication_year, class: "form-control" %>
      </div> 
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control" %>
      </div>    
      <div class="form-group"> 
        <% if action_name == "Edit" %>
          <%= f.submit "Update Work", class: 'btn btn-primary' %>
        <% else %>
          <%= f.submit "Create Work", class: 'btn btn-primary' %>
        <% end %>  
      </div>  
    <% end %>
  </article>
</section>    