<table class="table">
  <thead>
  <tr>
    <th width=80>Votes</th>
    <th>Title</th>
    <th>Created By</th>
    <th width=100>Published</th>
    <th width=100>Upvote</th>
  </tr>
  </thead>
  <tbody>
  <% media.each do |medium| %>
    <tr>
      <td><%= medium.votes.length  %></td>
      <td><%= link_to "#{medium.title}", work_path(medium.id) %></td>
      <td><%= medium.creator %></td>
      <td><%= medium.publication_year %></td>
      <td> <%= link_to "Upvote", work_votes_path(work_id: "#{medium.id}"), method: :post, class: "btn btn-primary" %></td>
    </tr>
  <% end %>
  </tbody>
</table>