<div>
<h1>Media Spotlight: <%= Work.spotlight.title %> by <%= Work.spotlight.creator %></h1>
  <%= Work.spotlight.votes.count %> votes - <%= Work.spotlight.description %>

</div>

<div>
  <h2 class="top-ten-header">Top Books</h2>
  <% Work.top_books.each do |book| %>
    <%= link_to book.title, work_path(book) %>
    <%= book[:creator] %>
    <%= book[:publication_year] %>
    <br>
    <%= book.votes.count %> votes
    <br>
  <% end %>
</div>

<div>
  <h2 class="top-ten-header">Top Movies</h2>
  <% Work.top_albums.each do |album| %>
    <%= link_to album.title, work_path(album) %>
    <%= album[:creator] %>
    <%= album[:publication_year] %>
    <br>
    <%= album.votes.count %> votes
    <br>
  <% end %>
</div>