<h3> Media Spotlight: <%= link_to @spotlight.title.titleize, work_path(@spotlight.id) %> by <%= @spotlight.creator %> </h3>
<p> <%= @spotlight.description %></p>

<hr>

<h3> Top Books </h3>
<% if @books.count == 0 %>
  <p> No books to show </p>
<% end %>
<ol class="work-list">
  <% @books.sample(10).each do |work| %>
      <li><b><%= link_to work.title.upcase, work_path(work.id) %></b> - <%= work.category %> - <%= work.creator %> - <%= work.publication_year %> - <%= work.votes.count %> votes</li>
  <% end %>
</ol>

<h3> Top Albums </h3>
<% if @albums.count == 0 %>
  <p> No albums to show </p>
<% end %>
<ol class="work-list">
  <% @albums.sample(10).each do |work| %>
    <li><b><%= link_to work.title.upcase, work_path(work.id) %></b> - <%= work.category %> - <%= work.creator %> - <%= work.publication_year %> - <%= work.votes.count %> votes</li>
  <% end %>
</ol>

<h3> Top Movies </h3>
<% if @movies.count == 0 %>
  <p> No movies to show </p>
<% end %>
<ol class="work-list">
  <% @movies.sample(10).each do |work| %>
    <li><b><%= link_to work.title.upcase, work_path(work.id) %></b> - <%= work.category %> - <%= work.creator %> - <%= work.publication_year %> - <%= work.votes.count %> votes</li>
  <% end %>
</ol>
