<main>
  <section class="spotlight">
    <% if Work.spotlight.nil? %>
      <h2>No media spotlight. Go vote!</h2>
    <% else %>
      <h2><span class="spotlight__header--prefix">Media Spotlight: </span>
        <%= link_to Work.spotlight.title,
                    work_path(Work.spotlight),
                    class: "spotlight__link_to" %></h2>
      <p class="spotlight__description"><%= Work.spotlight.votes.count %> - <%= Work.spotlight.description %></p>
    <% end %>
  </section>

  <% ["movie", "book", "album"].each do |category| %>
    <section class="top-ten__container">
      <section class="top-ten__list-container">
        <h2>Top <%= category.capitalize << "s" %></h2>
        <ul>
          <% Work.top_10(category).each do |medium| %>
            <li>
              <h4><%= link_to medium.title, work_path(medium) %>
                <small>by <%= medium.creator %></small></h4>
              <p><%= medium.votes.count %></p>
            </li>
          <% end %>
        </ul>
      </section>
    </section>
  <% end %>
</main>

