<section>
  <h1>
    <span class="spotlight-black-text">Media Spotlight:</span>
    <%= @top_work.title %> by
    <%= @top_work.creator %>
  </h1>
  <p><%= @top_work.vote_count %> votes - <%= @top_work.description %></p>
</section>
<section>
  <% Work::CATEGORIES.each do |category| %>
  <section>
    <h2>Top <%= "#{category.capitalize}s" %> </h2>
    <ul>
      <% if @works.where(category: category).empty? %>
        <li>
          <h3>
            No <%= "#{category.capitalize}s" %> added yet!
          </h3>
        </li>
      <% else %>
        <% @works.where(category: category).order(vote_count: :desc).limit(10).each do |item| %>
          <li>
            <p class="top-title">
              <%= link_to "#{item.title}", work_path(item.id) %> by
              <%= item.creator %>
            </p>
            <p> <%= item.votes.count %> votes </p>
          </li>
        <% end %>
      <% end %>
    </ul>
  </section>
  <% end %>
</section>