<div>
<h1>Media Spotlight: 
</h1>
</div>

<div>
<h2 class="top-ten-header"> Top Books </h2>
<% books = @works.select{ |work| work[:category] == "book" } %>
<% top_books = books.sample(10) %>
<% top_books.each do |book| %>
  <li>
  <%= link_to book.title, work_path(book) %> <%= book[:creator] %> <%= book[:publication_year] %>
  </li>
<% end %>
</div>

<div>
<h2 class="top-ten-header"> Top Albums </h2>
<% albums = @works.select{ |work| work[:category] == "album" } %>
<% top_albums = albums.sample(10) %>
<% top_albums.each do |album| %>
  <li>
  <%= link_to album.title, work_path(album) %> <%= album[:creator] %> <%= album[:publication_year] %>
  </li>
<% end %>
</div>