<h1>List of Works</h1>
 
<div>
<h2>Albums</h2>
<ul>
<% albums = @works.select{ |work| work[:category] == "album"} %>
<% albums.each do |album| %>
  <li>
  <%= link_to album.title, work_path(album) %> <%= album[:creator] %> <%= album[:publication_year] %>
    <%= button_to "Upvote", upvote_path(album.id) %>
  </li>
<% end %>

</ul>
</div>

<div>
<h2>Books</h2>
<ul>
<% books = @works.select{ |book| book[:category] == "book"} %>
<% books.each do |book| %>
  <li>
  <%= link_to book.title, work_path(book) %> <%= book[:creator] %> <%= book[:publication_year] %>
  </li>
<% end %>

</ul>
</div>

<%= button_to "Add a new work", new_work_path, method: :get %>



