<h1>All media</h1>

<section>
  <h3>Books</h3>
  <ul>
    <% @works.category_filter("Book").each do |book| %>
      <li>
        <%= link_to book.title, work_path(id: book[:id]), class: "link" %>
<!--        <p>Voted on <%#= book.votes.count %> times</p>-->
        <%= link_to "Vote", vote_path(id: book[:id]), method: :post, class: "link" %>
      </li>
    <% end %>
  </ul>
</section>

<section>
  <h3>Shows</h3>
  <ul>
    <% @works.category_filter("Show").each do |show| %>
      <li>
        <%= link_to show.title, work_path(id: show[:id]), class: "link" %>
      </li>
    <% end %>
  </ul>
</section>

<section>
  <h3>Movies</h3>
  <ul>
    <% @works.category_filter("Movie").each do |movie| %>
      <li>
        <%= link_to movie.title, work_path(id: movie[:id]), class: "link" %>
      </li>
    <% end %>
  </ul>
</section>

<section>
  <h3>Albums</h3>
  <ul>
    <% @works.category_filter("Album").each do |album| %>
      <li>
        <%= link_to album.title, work_path(id: album[:id]), class: "link" %>
      </li>
    <% end %>
  </ul>
</section>