<h2>List of Works</h2>

<nav>
  <%= button_to "Homepage", root_path, method: :get %>
  <%= button_to "Add a New Media", new_work_path, method: :get %>
  <% if session[:user_id] %>
      <%= button_to "Logout", logout_path, method: :post %>
    <%else %>
      <%=button_to "Log in", login_path, method: :get %>
    <%end %>
</nav>

<h3>Album Media:</h3>

<% if @albums.size > 0 %>
<table>

  <tr>
    <th> Title: </th>
    <th> Creator: </th>
    <th> Publication: </th>
  </tr>
  <% @albums.each do |album| %>

    <tr>
      <td><%= link_to album.title, work_path(album) %></td>
      <td><%= album.created_by %></td>
      <td><%= album.published %></td>
    </tr>
  <% end %>
</table>
<%end %>

<h3>Books Media:</h3>

<% if @books.size > 0 %>
  <table>
    <tr>
      <th> Title: </th>
      <th> Creator: </th>
      <th> Publication: </th>
    </tr>

    <% @books.each do |book| %>

      <tr>
        <td><%= link_to book.title, work_path(book) %></td>
        <td><%= book.created_by %></td>
        <td><%= book.published %></td>
      </tr>
    <% end %>
  </table>
<%end %>

<h3>Movie Media:</h3>

<% if @movies.size > 0 %>
  <table>
    <tr>
      <th> Title: </th>
      <th> Creator: </th>
      <th> Publication: </th>
    </tr>

    <% @movies.each do |movie| %>

      <tr>
        <td><%= link_to movie.title, work_path(movie) %></td>
        <td><%= movie.created_by %></td>
        <td><%= movie.published %></td>
      </tr>
    <% end %>
  </table>
<%end %>

<nav>
<!--  <%#=link_to "Homepage", homepages_path %> |-->
  <%= link_to "Add a New Media", new_work_path%> |
</nav>
