<main>
  <h2>List of Works</h2>
  <%= render partial: "table", locals: { category_name: "Albums", category_type: 'album' } %>
  <%= render partial: "table", locals: { category_name: "Books", category_type: 'book' } %>
  <%= render partial: "table", locals: { category_name: "Movies", category_type: 'movie' } %>
  <%= link_to "View top media" %>
  <%= link_to "Add a new work" %>
</main>