<h2>List of Works</h2>

  <% categories = %w[book album movie] %>

  <% categories.each do |type| %>
  <h3> <%=type.titleize%>s </h3>

  <ul class="work-list">
    <% @works.each do |work| %>
      <% if work.category == type %>
        <li><b><%= link_to work.title.upcase, work_path(work.id) %></b> - <%= work.category %> - <%= work.creator %> - <%= work.publication_year %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>