<h1>List of Works</h1>
 
<div>
<h2>Albums</h2>
<ul>
<% Work.sort_albums.each do |album| %>
  <li>Votes:  <%= album.votes.count %>
    <%= link_to album.title, work_path(album) %>
    <%= album[:creator] %>
    <%= album[:publication_year] %>
    <%= button_to "Upvote", upvote_path(album.id) %>
  </li>
<% end %>

</ul>
</div>

<div>
<h2>Books</h2>
<ul>
<% Work.sort_books.each do |book| %>
    <li>Votes:  <%= book.votes.count %>
    <%= link_to book.title, work_path(book) %>
    <%= book[:creator] %>
    <%= book[:publication_year] %>
    <%= button_to "Upvote", upvote_path(book.id) %>
  </li>
<% end %>

</ul>
</div>

<div>
  <h2>Movies</h2>
  <ul>
    <% Work.sort_movies.each do |movie| %>
      <li>Votes:  <%= movie.votes.count %>
        <%= link_to movie.title, work_path(movie) %>
        <%= movie[:creator] %>
        <%= movie[:publication_year] %>
        <%= button_to "Upvote", upvote_path(movie.id) %>
      </li>
    <% end %>

  </ul>
</div>

<%= button_to "View Top Media", root_path, method: :get %> <%= button_to "Add a new work", new_work_path, method: :get %>



