<section>
  <h1>List of Works</h1>
  <% Work::CATEGORIES.each do |category| %>
    <section>
      <h2> <%= "#{category.capitalize}s" %> </h2>
      <table>
        <thead>
        <tr>
          <th>Votes</th>
          <th>Title</th>
          <th>Created By</th>
          <th>Published</th>
          <th>Upvotes</th>
        </tr>
        </thead>
        <tbody>
          <% @works.where(category: category).each do |item| %>
            <tr>
              <td> <%= rand(1..50) %> </td>
              <td> <%= link_to "#{item.title}", work_path(item.id) %> </td>
              <td> <%= item.creator %></td>
              <td> <%= item.publication_year %></td>
              <td>Upvote button</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section>
  <% end %>
</section>

