<h1>List of Works</h1>

<section class="table-border"> 
  <article>
    <h3>Albums</h3>
    <table class="list-table">
      <tr>
        <th>Votes</th>
        <th>Title</th>
        <th>Created By</th>
        <th>Published</th>
        <th>Upvote</th>
      </tr>  
      <% Work.index_order("album").each do |work|  %>
        <tr>
          <th><%= work[1] %></th>
          <th><%= link_to Work.top_ten_helper(work[0]).title, work_path(Work.top_ten_helper(work[0])) %></th>
          <th><%= Work.top_ten_helper(work[0]).creator %></th>
          <th><%= Work.top_ten_helper(work[0]).publication_year %></th>
          <th><%= button_to "Upvote", upvote_work_path(Work.top_ten_helper(work[0])), class: "btn btn-info" %></th>
        </tr>  
      <% end %>
    </table>  
  </article> 
  <article>
    <h3>Books</h3>
    <table class="list-table">
      <tr>
        <th>Votes</th>
        <th>Title</th>
        <th>Created By</th>
        <th>Published</th>
        <th>Upvote</th>
      </tr>  
      <% Work.index_order("book").each do |work|  %>
        <tr>
          <th><%= work[1] %></th>
          <th><%= link_to Work.top_ten_helper(work[0]).title, work_path(Work.top_ten_helper(work[0])) %></th>
          <th><%= Work.top_ten_helper(work[0]).creator %></th>
          <th><%= Work.top_ten_helper(work[0]).publication_year %></th>
          <th><%= button_to "Upvote", upvote_work_path(Work.top_ten_helper(work[0])), class: "btn btn-info" %></th>
        </tr>  
      <% end %>
    </table>  
  </article>
  <article>
    <h3>Movies</h3>
    <table class="list-table">
      <tr>
        <th>Votes</th>
        <th>Title</th>
        <th>Created By</th>
        <th>Published</th>
        <th>Upvote</th>
      </tr>  
      <% Work.index_order("movie").each do |work|  %>
        <tr>
          <th><%= work[1] %></th>
          <th><%= link_to Work.top_ten_helper(work[0]).title, work_path(Work.top_ten_helper(work[0])) %></th>
          <th><%= Work.top_ten_helper(work[0]).creator %></th>
          <th><%= Work.top_ten_helper(work[0]).publication_year %></th>
          <th><%= button_to "Upvote", upvote_work_path(Work.top_ten_helper(work[0])), class: "btn btn-info" %></th>
        </tr>  
      <% end %>
    </table>  
  </article>   
</section>

<section>
  <div>
    <p><%= button_to "View top media", root_path, method: :get, class: "btn btn-secondary" %></p>
  </div>
  <div class="index">
    <p><%= button_to "Add a new work", new_work_path, method: :get, class: "btn btn-info" %></p>
  </div> 
</section>  