<main>
  <h2> List of Works <h2>

  <section class="media-table">
    <%= render partial: "table", locals: { work_title: "Albums", works: @albums } %>
  <section class="media-table">

  <section class="media-table">
    <%= render partial: "table", locals: { work_title: "Books", works: @books } %>
  <section class="media-table">

  <section class="media-table">
    <%= render partial: "table", locals: { work_title: "Movies", works: @movies } %>
  <section class="media-table">

    <%= button_to "View top media", root_path, method: :get %>
    <%= button_to "Add a new work", new_work_path, method: :get %>

  </main>
  
    