<h2>List of Works</h2>
<section class= "Album">
  <h3>Albums</h3>
  <% albums = Work.where(media: "album") %>
  <% if @albums.size > 0 %>
    <table class= "table">
      <thead>
      <tr>
        <th> Votes: </th>
        <th> Title: </th>
        <th> Creator: </th>
        <th> Publication: </th>
        <th> Upvote: </th>
      </tr>
      </thead>
      <tbody>
      <% @albums.each do |album| %>
        <tr>
          <td><%= album.votes.length %></td>
          <td><%= link_to album.title, work_path(album) %></td>
          <td><%= album.created_by %></td>
          <td><%= album.published %></td>
          <td><%= button_to "Upvote", upvote_path(album.id), method: :post %></td>
        </tr>
        <% end %>
    <%else %>
    <%end %>
    </tbody>
  </table>
</section>

<section class= "Book">
  <h3>Books</h3>
  <% books = Work.where(media: "books") %>
  <% if @books.size > 0 %>
    <table class= "table">
      <thead>
      <tr>
        <th> Votes: </th>
        <th> Title: </th>
        <th> Creator: </th>
        <th> Publication: </th>
        <th> Upvote: </th>
      </tr>
      </thead>
      <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= book.votes.length %></td>
          <td><%= link_to book.title, work_path(book) %></td>
          <td><%= book.created_by %></td>
          <td><%= book.published %></td>
          <td><%= button_to "Upvote", upvote_path(book.id), method: :post %></td>
        </tr>
      <% end %>
  <%else %>
  <%end %>
  </tbody>
  </table>
</section>

<section class= "Movies">
  <h3>Movies</h3>
  <% movies = Work.where(media: "movie") %>
  <% if @movies.size > 0 %>
    <table class= "table">
      <thead>
      <tr>
        <th> Votes: </th>
        <th> Title: </th>
        <th> Creator: </th>
        <th> Publication: </th>
        <th> Upvote: </th>
      </tr>
      </thead>
      <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= movie.votes.length %></td>
          <td><%= link_to movie.title, work_path(movie) %></td>
          <td><%= movie.created_by %></td>
          <td><%= movie.published %></td>
          <td><%= button_to "Upvote", upvote_path(movie.id), method: :post %></td>

        </tr>
      <% end %>
  <%else %>
  <%end %>
  </tbody>
  </table>
</section>

  <%= button_to "Add a New Media", new_work_path, method: :get %>




<main>
  <section class="row merchant">
    ::before
    <h2>List of  Merchants</h2>
    <section class="column small-12 large-4">
      <ul>
        <li>
          <% @merchants.each do |merchant| %>
            <%= link_to merchant.username, merchant_path(merchant) %>
            </li>
            </ul>
            </section>
            </section>
            </main>