
<div class="spotlight">
  <% unless Work.all.empty? %>
    <% feat = Work.spotlight %>
    <h3>Media Spotlight: <%= feat.title %> by <%= feat.creator %></h3>
  <% end %>
</div>

<div class="top-books">
  <%= render partial: "top", locals: { header: "Top Books", works: @books } %>
</div>

<div class="top-movies">
  <%= render partial: "top", locals: { header: "Top Movies", works: @movies } %>
</div>

<div class="top-albums">
  <%= render partial: "top", locals: { header: "Top Albums", works: @albums } %>
</div>
