<h2>New Media</h2>

<%= form_with model: @work, class: 'create-work' do |f| %>
  <p>Please provide the following information:</p>

 <p><%= f.label :title %>
   <%= f.text_field :title %></p>

  <p><%= f.label :creator %>
  <%= f.text_field :creator %></p>

  <p><%= f.label :publication_year %>
  <%= f.text_field :publication_year %></p>

  <p><%= f.label :description %>
  <%= f.text_field :description %></p>

 <p><%= f.label :category %>
  <%= f.select :category, ['album', 'book', 'movie'] %></p>

  <%= f.submit "New Media", class: "change-button" %>
<%end%>

<p><%= link_to "All Media", works_path %></p>

<!--<select name="city_id" id="city_id">-->
<!--  <option value="1">Book</option>-->
<!--  <option value="2">Album</option>-->
<!--  <option value="3">Movie</option>-->
<!--</select>-->