<h2>New Media</h2>

<%= form_with model: @work, class: 'create-work' do |f| %>
  <p>Please provide the following information:</p>

  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :creator %>
  <%= f.text_field :creator %>
  <br>
  <%= f.label :publication_year %>
  <%= f.text_field :publication_year %>
  <br>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <br>
  <%= f.label :category %>
  <%= f.select :category, ['album', 'book', 'movie'] %>
  <br>
  <%= f.submit "New Media", class: "change-button" %>
<%end%>
