<%= form_with model: @work do |f| %>
  <h2>Add a new work</h2>

  <div>
  <%= f.label :category %>
  <select>
    <option value="album">album</option>
    <option value="book">book</option>
  </select>
  </div>
  
  <div>
  <%= f.label :title %>
  <%= f.text_field :title %>
  </div>

  <div>
  <%= f.label :creator %>
  <%= f.text_field :creator %>
  </div>

  <div>
  <%= f.label :publication_year %>
  <%= f.text_field :publication_year %>
  </div>

  <div>
  <%= f.label :description %>
  <%= f.text_field :description %>
  </div>

  <%= f.submit "Create Work", class: "button" %>
<% end %>