<h2><strong><%=@work.title %></strong></h2>

<section class="show_details">
  <div>
    ID:  <%=@work.id %>
  </div>
  <div>
    Creator: <%=@work.creator %>
  </div>
  <div>
    Published: <%=@work.publication_year %>
  </div>
  <div>
    Description: <%=@work.description %>
  </div>
</section>