<h2><%= @work.title %></h2>

<p>Created by: <%= @work.created_by %></p>

<p>Published: <%= @work.published %></p>

<p>Description: <%= @work.description %></p>

<section>
<%= button_to "Back to media Ranks", root_path, method: :get %>
<%= button_to "Edit", edit_work_path(@work), method: :get %>
<%= button_to "Upvote", upvote_path(@work.id), method: :post %>
<%= button_to "Delete", work_path(@work), method: :delete, data: { confirm: "Are you sure"}  %>
</section>

<section class="works-votes__container">
  <h3 class="works-votes__header"><%= @work.votes.size %> Votes for this <%= @work.media %></h3>
  <table class="table">
    <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
    </tr>
    </thead>
    <% @work.votes.each do |vote| %>
      <tbody>
      <tr>
        <td><%= link_to vote.user.username, user_path(vote.user.id), method: :get %></td>
        <td><%= vote.created_at.strftime('%b %d, %Y') %></td>
      </tr>
      </tbody>
    <% end %>
  </table>
</section>


