<body>
  <h2 class="title">
    <%= "Title: #{@work.title}" %>
  </h2>
  <h3> <% if @work.category == "book" %>
      <%= "Author:" %>
    <% elsif @work.category == "movie"%>
    <%= "Director:" %>
      <% elsif @work.category == "album"%>
    <%= "Performed by:" %>
      <% end %>
    <%= @work.creator %>
  </h3>
  <h3>
    <%= "Published: #{@work.publication_year}" %>
  </h3>
  <h3>
    <%= "Description: #{@work.description}" %>
  </h3>
</body>
