<h2>Title: <%= @work.title %></h2>
<h3>By: <%= @work.creator %></h3>


<ul>
  <li><%= link_to "Edit Media", edit_work_path %></li>
  <li><%= link_to "Delete Media", work_path, method: :delete, data: { confirm: "Are you sure?" } %></li>
  <li><%= link_to "Back to All Media", works_path %></li>
</ul>



