<h2><%= @work.title%></h2>
<section>
  <div class="work-info">
    <div>Category: <%= @work.category %></div>
    <div>Created by: <%= @work.creator %></div>
    <div>Published: <%= @work.publication_year %></div>
    <div><%= @work.description %></div>

  </div>
</section>