<section class = "main-content">
  <h2 class="main-content-header"><%= @work.title %></h2>
  <p class="m-0">Created by: <%= @work.creator %></p>
  <p class="m-0">Published: <%= @work.publication_year %></p>
  <p class="m-0"><%= @work.description %></p>


  <section class="mt-3">
    <%= link_to "Back to Top 10 (Home)", root_path, class: "btn btn-info m-2", role: "button" %>
    <%= link_to "Edit This Work", edit_work_path, class: "btn btn-info m-2", role: "button" %>

    <% case @work.vote_button(@current_user) %>
    <% when "Vote!" %>
      <%= link_to "Vote!", work_votes_path(@work.id),
                  method: :post,
                  class: "btn btn-outline-info m-2",
                  role: "button"%>
    <% when "Remove Upvote" %>
      <%= link_to "Remove Upvote", work_vote_path(@work.id, @vote.id),
                  method: :delete,
                  class: "btn btn-danger m-2",
                  role: "button" %>
    <% when nil %>
      <div class="text-muted d-inline">Please log in to upvote.</div>
    <% end %>
    <%= link_to "Delete This Work", work_path(@work.id),
                method: :delete,
                data: {confirm: "Are you sure you want to delete #{@work.title.capitalize} by #{@work.creator.capitalize}?"},
                class: "btn btn-info m-2",
                role: "button" %>
  </section>

  <section class = "main-content">
    <h3 class="pt-2"><%= "#{@work.print_number_of_votes} for this #{@work.category.capitalize}" %></h3>
    <table class="table table-sm">
      <thead>
      <tr class="d-flex">
        <th class="col-4">User</th>
        <th class="col-4">Date</th>
      </tr>
      </thead>
      <tbody>
      <% @work.votes.each do |vote| %>
        <tr class="d-flex">
          <td class="col-4"><%= link_to vote.user.name, user_path(vote.user.id), class: "text-info" %></td>
          <td class="col-4"><%= vote.created_at.to_date.strftime("%b %d, %Y") %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </section>

</section>
