
<h1><%= @work.title %></h1>


<h3><%= @work.category %></h3>
<h3><%= @work.creator %></h3>
<h3><%= @work.publication_year %></h3>
<h3><%= @work.description %></h3>
<h3>This work has <%= @work.votes.count %> vote(s)</h3>
<%= link_to "Vote", vote_path(id: @work[:id]), method: :post, class: "link" %>
<%= link_to "Delete", work_path(@work.id), class: "link", method: :delete %>
<%= link_to "Edit", edit_work_path(@work.id), class: "link" %>