<section>
  <article class="work-info">
    <h2><%= @work.title %></h2>
    <p>Created by: <%= @work.creator %></p>
    <p>Published <%= @work.publication_year %></p>
    <% if @work.description %>
      <p><%= @work.description %></p>
    <% end %>  
  </article>
  <article class="operation-button">
    <div>
      <%= button_to "Back to media ranks", root_path, method: :get %>
    </div>  
    <div>
      <%= button_to "Edit", edit_work_path(@work), method: :get %>
    </div>
    <div>
      <%= button_to "Upvote", upvote_work_path(@work) %>
    </div>
    <div>
      <%= button_to "Delete", work_path(@work), method: :delete, data: {confirm: "Are you sure?"} %>
    </div>
  </article>
  <article class="who-vote-table">
    <h4><%= "#{ @work.total_votes(@work) } Votes for this" %> <%= @work.category.capitalize %></h4>
    <table class="show-table">
      <tr>
        <th>User</th>
        <th>Date</th>
      </tr>
      <% @work.votes.order(created_at: :desc).each do |vote| %>
        <tr>
          <th><%= link_to vote.user.username, user_path(vote.user) %></th>
          <th><%= vote.date %></th>
        </tr>
      <% end %>    
    </table>
  </article>
</section>



