<h1><%= @work.title %></h1>
<h6>Created by:  <%= @work.creator %></h6>
<h6>Published: <%= @work.publication_year %></h6>
<h6>Description: <%= @work.description %></h6>

  <div>
    <%= link_to "Back to media ranks", root_path, class: "btn btn-primary" %>
    <%= link_to "Edit", edit_work_path(@work), class: "btn btn-primary" %>
    <%= link_to "Upvote", work_votes_path(@work), method: :post, class: "btn btn-primary" %>
    <%= link_to "Delete", work_path(@work), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure?"}%>
  </div>