<section>
  <h1><%= link_to "#{@work.title}", work_path(@work.id) %></h1>
  <p>Created by: <%= @work.creator %> </p>
  <p>Published: <%= @work.publication_year %> </p>
  <p> <%= @work.description %> </p>
</section>
<section>
  <%= button_to "Back to media ranks", root_path, { method: :get } %>
  <%= button_to "Edit", edit_work_path(@work.id), { method: :get } %>
  <%#= button_to "Upvote", path goes here, {class: , method: } %>
  <%= button_to "Delete", work_path(@work.id), {method: :delete} %>
</section>
<section>
  <h2><%= rand(1..50) %> Votes for this <%= @work.category.capitalize %></h2>
  <table>
    <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
    </tr>
    </thead>
    <tbody>
      <%# loop for the users who voted %>
        <tr>
          <td>User link <%#= link_to "#{username goes here}", path goes here(user id goes here)%></td>
          <td>Date <%#= date voted %></td>
        </tr>
      <%# end category loop %>
    </tbody>
  </table>
</section>
