<div class="show-item">

<h2><%= @work.title %></h2>

<ul class="title-info">
  <li>Created by: <%= @work.creator %></li>
  <li>Published: <%= @work.publication_year %> </li>
  <% unless @work.description.nil? %>
    <li><p><%= @work.description %></p></li>
  <% end %>
</ul>
</div>

<%= button_to "Back to media ranks", homepage_path,
              method: "get", class: "btn btn-info", id:"btn1" %>

<%= button_to "Edit", edit_work_path(@work),
              method: "get", class: "btn btn-info", id:"btn2" %>

<%= button_to "Upvote", create_vote_path(@work.id),
              method: "post", class: "btn btn-info", id:"btn3" %>

<%= button_to "Delete", work_path(@work),
              method: :delete, class: "btn btn-danger", id:"btn4",
              data: {confirm: "Are you sure?"} %>


<% @votes = Vote.all

   @votes.each do |vote|

%>

<p> <%= "here is a vote" %> </p>

<% end %>


