<h1><%= @work.title %></h1>
<ul>
    <li>Category: <%= @work.category %></li>
    <li>Creator: <%= @work.creator %></li>
    <li>Year Published: <%= @work.publication_year %></li>
    <li>Description: <%= @work.description %></li>
</ul>

<%= link_to "Edit", edit_work_path(@work) %>