<main>
  <section>
    </section>
    <h2>
      <%= @work.title %>
    </h2>
    <p>Created by:
      <%= @work.creator %>
    </p>
    <p>Published:
      <%= @work.publication_year %>
    </p>
    <p>
      <%= @work.description %>
    </p>
    <section>
      <a class="btn btn-primary" href="/">Back to media ranks</a>
      <%= link_to  "Edit", edit_work_path, class: "btn btn-primary" %>
      <a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/731/upvote">Upvote</a>
      <%= link_to "Delete", work_path(@work.id), method: :delete, data: { confirm: "Are you sure you want to delete this #{@work.category}?"}, class: "btn btn-danger" %>
    </section>
  </section>
  <section class="works-votes__container">
    <h3 class="works-votes__header">3 Votes for this Book</h3>
    <table class="table">
      <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><a href="/users/874">testingcat</a></td>
        <td>Nov 11, 2020</td>
      </tr>
      <tr>
        <td><a href="/users/615">dee</a></td>
        <td>May 22, 2020</td>
      </tr>
      <tr>
        <td><a href="/users/694">Chris P. Bacon</a></td>
        <td>May 21, 2020</td>
      </tr>
      </tbody>
    </table>
  </section>
</main>