<!DOCTYPE html>
<html lang="en">
<head>
  <title>MediaRanker</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
</head>
<header>
  <h1>
    Media Ranker
  </h1>
</header>
<div>
  <div class="navbar">
    <ul>
      <li><%= link_to "Home", homepages_path %></li>
      <li> <%= link_to "All Media", works_path%></li>
      <li> <%= link_to "Enter New Media", new_work_path %></li>
    </ul>
  </div>
  <body>
  <h2 class="title">
    <%= "Title: #{@work.title}" %>
  </h2>
  <h3> <% if @work.category == "book" %>
      <%= "Author:" %>
    <% elsif @work.category == "movie"%>
    <%= "Director:" %>
      <% elsif @work.category == "album"%>
    <%= "Performed by:" %>
      <% end %>
    <%= @work.creator %>
  </h3>
  <h3>
    <%= "Published: #{@work.publication_year}" %>
  </h3>
  <h3>
    <%= "Description: #{@work.description}" %>
  </h3>
  </body>
</div>
</html>