<section>

  <section>
    <h2><%= @work.title %></h2>
    <p>Created By: <%= @work.creator %></p>
    <p>Published: <%= @work.publication_year %></p>
    <p>Description: <%= @work.description %></p>
  </section>

  <section>
    <%= button_to "Back to media ranks", root_path, method: :get, :class => " btn btn-outline-dark", form: {style: 'display:inline-block;'}%>
    <%= button_to "Edit", edit_work_path, method: :get, :class => " btn btn-outline-dark", form: {style: 'display:inline-block;' }%>
    <%= button_to "Upvote", votes_path(work_id: @work.id), method: :post, :class => "btn btn-custom-upvote", form: {style: 'display:inline-block;' }%>
    <%= button_to "Delete", work_path(@work), method: :delete, :class => "btn btn-danger",  data: {confirm: "Are you sure you want to delete"}, form: {style: 'display:inline-block;' }%>
  </section>

</section>