<h2><%= @work.title.titleize %></h2>

<p> Created by: <%= @work.creator.titleize %></p>
<p> Published: <%= @work.publication_year %></p>
<p> <%= @work.description %></p>


<section>
  <%= button_to "Back to media ranks", root_path, method: :get, form: {style: 'display:inline-block;'} %>
  <%= button_to "Edit", edit_work_path, method: :get, form: {style: 'display:inline-block;'} %>
  placeholder for upvote
  <%= button_to "Delete", work_path(@work.id), method: :delete, form: {style: 'display:inline-block;'}, class: 'delete_button', data: { confirm: "Are you sure you want to delete this driver?" } %>
</section>


<section>
  <h4> <%= @work.votes.count %> votes for this <%= @work.category %></h4>
  <ol>
    <% @work.votes.each do |vote| %>
      <li><b><%= link_to vote.user.name.upcase, user_path(vote.user.id) %></b> -- <%= vote.created_at %> </li>
    <% end %>
  </ol>

</section>