<header class="app-header__header">
  <h1>
    <a href="/">Media Ranker</a>
    <small>Ranking the Best of Everything</small>
  </h1>
  <nav class="app-header__nav">
    <ul class="nav app-header__site-nav-container">
      <li class="nav-item app-header__nav_item">
        <a class="nav-link" href="/">View top media</a>
      </li>
      <li class="nav-item app-header__nav_item">
        <a class="nav-link" href="/works">View all media</a>
      </li>
      <li class="nav-item app-header__nav_item">
        <a class="nav-link" href="/works/new">Add a new work</a>
      </li>
      <li class="nav-item app-header__nav_item">
        <a class="nav-link" href="/users">View all users</a>
      </li>
    </ul>
    <ul class="nav app-header__user-nav-container">
      <li class="nav-item app-header__nav_item">
        <a class="btn btn-primary" href="/login">Log In</a>
      </li>
    </ul>
  </nav>
</header>
<section class="alert__container">
  <div class="alert alert-success">
    <span>Successfully created book 969</span>
  </div>
</section>
<main>
  <section>
    <h2><%=@work.title %></h2>
    <p>Created by: <%= @work.creator %> </p>
    <p>Published: <%= @work.publication_year %></p>
    <p><%= @work.description%></p>
    <section>
      <%= link_to "Back to media ranks", root_path, class: "btn btn-primary"%>
      <%=link_to "Edit", edit_work_path(@work.id), class: "btn btn-primary"%>
      <%= link_to "Upvote", votes_path(work_id: @work.id), method: :post, class: "btn btn-primary"%>
      <a class="btn btn-danger" data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/works/969">Delete</a>
    </section>
  <section class="works-votes__container">
    <h3 class="works-votes__header">0 Votes for this Book</h3>
    <table class="table">
      <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
      </tr>
      </thead>
      <tbody>
      </ul>
  </section>

