<h2><strong><%=@work.title %></strong></h2>

<section class="show_details">
  <div>
    ID:  <%=@work.id %>
  </div>
  <div>
    Creator: <%=@work.creator %>
  </div>
  <div>
    Published: <%=@work.publication_year %>
  </div>
  <div>
    Description: <%=@work.description %>
  </div>
  <div>
    Category: <%=@work.category %>
  </div>
</section>

<%=link_to "Edit Media", edit_work_path(@work.id) %>
<%=link_to "Delete Media", work_path(@work.id), method: :delete, data: {confirm: "Are you sure?"} %>