
<% unless @spotlight.nil? %>
  <h4><strong>Spotlight: </strong><%= link_to @spotlight.title, work_path(@spotlight.id) %> by <%= @spotlight.creator %> </h4>
  <p><%= @spotlight.votes.count %> Votes - <%= @spotlight.description %></p>
<% end %>

<div class="flexbox">
  <%= render partial: "top_list", locals: { media: @top_books, name: "Top Books" } %>
  <%= render partial: "top_list", locals: { media: @top_movies, name: "Top Movies" } %>
  <%= render partial: "top_list", locals: {media: @top_albums, name: "Top Albums" } %>
</div>