<section>
  <h2>
  <span>Media Spotlight:</span> <%= link_to @spotlight.title, work_path(@spotlight.id) %> by <%=@spotlight.creator %>
  </h2>
  <p><%=@spotlight.votes.length%> votes - <%=@spotlight.description%></p>
</section>
<p><%=@spotlight.description %></p>

<section>
    <section>
    <h2>Top movies</h2>
      <% @top_movies.each do |movie| %>
      <ul>
        <li>
          <h4><%= link_to movie.title, work_path(movie.id) %> by <%= movie.creator%> </h4>
          <p><%=movie.votes.length%> votes</p>
        </li>
      </ul>
      <% end %>
    </section>

    <section>
    <h2>Top books</h2>
      <% @top_books.each do |book| %>
        <ul>
          <li>
            <h4><%= link_to book.title, work_path(book.id) %> by <%= book.creator%></h4>
            <p><%=book.votes.length%> votes</p>
          </li>
        </ul>
      <% end %>
    </section>

    <section>
    <h2>Top albums</h2>
      <% @top_albums.each do |album| %>
        <ul>
          <li>
            <h4><%= link_to album.title, work_path(album.id) %> by <%= album.creator%></h4>
            <p><%=album.votes.length%> votes</p>
          </li>
        </ul>
      <% end %>
    </section>
</section>

