
<section class="spotlight">

  <h2 class="spotlight-header">
    <span class="spotlight-header-prefix">Media Spotlight:</span>
    <%= link_to @spotlight.title, work_path(@spotlight), class: 'spotlight-link-to' %><span> by </span><%= @spotlight.creator %>
  </h2>

  <p class="spotlight-description"><%= @spotlight.votes.count %> votes - <%= @spotlight.description %></p>
</section>

<hr class="root-break"/>

<section class="top-ten-container">

  <section class="ten-list-container">

    <h2 class="ten-header">Top Movies</h2>

    <%= render partial: "top_lists", locals: {category: @top_movies} %>

  </section>

  <section class="ten-list-container">

    <h2 class="ten-header">Top Books</h2>

    <%= render partial: "top_lists", locals: {category: @top_books} %>

  </section>

  <section class="ten-list-container">

    <h2 class="ten-header">Top Albums</h2>

    <%= render partial: "top_lists", locals: {category: @top_albums} %>

  </section>

</section>

