<!DOCTYPE html>
<html>

<head>
  <title>Media Ranker Schanen</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<header class="app_header-header">

  <h1>
    <%= link_to "Media Ranker", :class => 'h1_title' %>
    <small>Ranking the Best of Everything</small>
  </h1>

  <nav>
    <ul class="app-header-site-nav-container">
      <li class="nav-item app-header-nav-item"><%= link_to "View top media", root_path %></li>
      <li class="nav-item app-header-nav-item"><%= link_to "View all media", works_path %></li>
      <li class="nav-item app-header-nav-item"><%= link_to "Add a new work", new_work_path %></li>
      <li class="nav-item app-header-nav-item"><%= link_to "View all users", users_path %></li>
    </ul>

    <ul>
      <li class="button button-primary">Log In</li>
    </ul>
  </nav>

</header>

<main>

  <section class="spotlight">

    <h2 class="spotlight-header">
      <span class="spotlight-header-prefix">Media Spotlight:</span>
      <%= link_to @work.title, class: 'spotlight-link-to' %><span> by </span><%= @work.creator %>
    </h2>

    <p class="spotlight-description"><%= @work.description %></p>
  </section>

  <hr class="root-break"/>

  <section class="top-ten-container">

    <section class="ten-list-container">

      <h2 class="ten-header"> Top Movies</h2>

      <ul class="list-group top-ten-list">
        <% @works.each do |work| %>
          <li>

            <h4>
              <%= link_to work.title, work_path(work.id) %>
              <small class="top-ten-creator">by <%= work.creator %></small>
            </h4>
            <p><%= link_to work.votes.count %> votes</p>
          </li>
        <% end %>
      </ul>
    </section>

    <section class="ten-list-container">

      <h2 class="ten-header">Top Books</h2>

      <ul class="list-group top-ten-list">
        <% @works.each do |work| %>
          <li>

            <h4>
              <%= link_to work.title, work_path(work.id) %>
              <small class="top-ten-creator">by <%= work.creator %></small>
            </h4>
            <p><%= link_to work.votes.count %> votes</p>
          </li>
        <% end %>
      </ul>
    </section>

    <section class="ten-list-container">

      <h2 class="ten-header">Top Books</h2>

      <ul class="list-group top-ten-list">
        <% @works.each do |work| %>
          <li>

            <h4>
              <%= link_to work.title, work_path(work.id) %>
              <small class="top-ten-creator">by <%= work.creator %></small>
            </h4>
            <p><%= link_to work.votes.count %> votes</p>
          </li>
        <% end %>
      </ul>
    </section>

  </section>
</main>
</body>

</html>
