<h3>User Summary: <%= @user.username %></h3>
<h3>Votes</h3>
<div class="votes-table">
  <table class="table">
    <tr>
      <th>Media Title</th>
      <th>Created By</th>
      <th>Published</th>
      <th>Category</th>
      <th>Voted On</th>
    </tr>
    <% @user.votes.each do |vote| %>
      <tr>
        <td><%= link_to vote.work.title, work_path(vote.work.id) %></td>
        <td><%= vote.work.creator %></td>
        <td><%= vote.work.publication_year %></td>
        <td><%= vote.work.category %></td>
        <td><%= vote.created_at.strftime("%b %d, %Y") %></td>
      </tr>
    <% end %>

  </table>

</div>