<section>
  <article class="work-info">
    <h2>User Summary: <%= @user.username %></h2>
    <p>Joined site <%= @user.joined %></p>
  </article>
  
  <article class="who-vote-table">
    <h2>Votes</h2>
    <table class="show-table">
      <tr>
        <th>Media Title</th>
        <th>Created By</th>
        <th>Published</th>
        <th>Category</th>
        <th>Voted On</th>
      </tr>
      <% @user.votes.order(created_at: :desc).each do |vote| %>
        <tr>
        vote
          <th><%= link_to vote.work.title, work_path(vote.work.id) %></th>
          <th><%= vote.work.creator %></th>
          <th><%= vote.work.publication_year %></th>
          <th><%= vote.work.category %></th>
          <th><%= vote.date %></th>  
        </tr>
      <% end %>    
    </table>
  </article>

  <article class="operation-button">
    <div>
      <%= button_to "See all Users", users_path, method: :get, class: "btn btn-secondary" %>
    </div>  
    <div>
      <%= button_to "Back to Media List", root_path, method: :get, class: "btn btn-info" %>
    </div>
  </article>
</section>



