<main>
  <h2>User Summary: <%= link_to @user.username, user_path(@user) %>></h2>
  <p>Joined site <%= @user.created_at.to_date %></p>

  <section class="user-votes__container">
    <h3 class="user-votes__header">Votes</h3>
    <table class="table">
      <thead>
      <tr>
        <th>Media Title</th>
        <th>Created By</th>
        <th>Published</th>
        <th>Category</th>
        <th>Voted On</th>
      </tr>
      </thead>
      <tbody>

      <% @votes.each do |vote| %>
        <tr>
          <% work = vote.work %>
          <td><%= link_to work.title, work_path(work.id) %></td>
          <td><%= work.creator %></td>
          <td><%= work.publication_year %></td>
          <td><%= work.category %></td>
          <td><%= vote.created_at.to_date %></td>
        </tr>
      <%end %>
      </tbody>
    </table>
  </section>

  <a class="btn btn-secondary" href="/users">See all Users</a>
  <a class="btn btn-primary" href="/">Back to Media List</a>

</main>