<h2><%= @user.name.titleize %></h2>

<p> Created: <%= @user.created_at %></p>


<section>
  <%= button_to "Back to media list", root_path, method: :get, form: {style: 'display:inline-block;'}, class: "btn btn-secondary" %>
  <%= button_to "View all users", users_path, method: :get, form: {style: 'display:inline-block;'}, class: "btn btn-primary" %>
</section>

<section>
  <h4> Votes </h4>
  <ol>
    <% @user.votes.each do |vote| %>
      <li><b><%= link_to vote.work.title.upcase, work_path(vote.work.id) %></b> - <%= vote.work.category %> - <%= vote.work.creator %> - <%= vote.work.publication_year %> -- <%= vote.created_at %> </li>

  <% end %>
  </ol>

</section>