<header>
  <h1>
    <%= link_to 'Media Ranker', root_path, :class => 'logo' %>
    <small>Ranking the Best of Everything</small>
  </h1>
  <nav class="navigation">
    <section class="nav-links">
      <%= link_to "View top media", homepages_path, :class => 'nav-item' %>
      <%= link_to "View all media", works_path, :class => 'nav-item' %>
      <%= link_to "Add a new work", new_work_path, :class => 'nav-item' %>
      <%= link_to "View all users", works_path, :class => 'nav-item' %>
    </section>
    <section class="nav-submit-button">
      <%= button_to "Log Out", works_path, :class => 'btn btn-primary'%>
    </section>
  </nav>
</header>