<h1><strong>Media Ranker</strong></h1>
<br>
<br>
<h3><strong>Spotlight</strong></h3>
<br>
<!--# How to set to change daily?-->
<div>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Creator</th>
        <th>Published</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <%@spotlight.each do |light| %>
        <tr>
          <td><%=light.title %></td>
          <td><%=light.creator %></td>
          <td><%=light.publication_year %></td>
          <td><%=light.description %></td>
        </tr>
      <%end %>
    </tbody>
  </table>
</div>
<br>
<br>
<h3><strong>Top 10 Media</strong></h3>
<h4>Books</h4>
<div>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Creator</th>
        <th>Published</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <%@top_books.each do |book|%>
        <tr>
          <td><strong><%=link_to book.title, work_path(book.id) %></strong></td>
          <td><%=book.creator %></td>
          <td><%=book.publication_year %></td>
          <td><%=book.description %></td>
        </tr>
      <%end %>
    </tbody>
  </table>
</div>
<br>
<h4>Albums</h4>
<div>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Creator</th>
        <th>Published</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <%@top_albums.each do |album|%>
        <tr>
          <td><strong><%=link_to album.title, work_path(album.id) %></strong></td>
          <td><%=album.creator %></td>
          <td><%=album.publication_year %></td>
          <td><%=album.description %></td>
        </tr>
      <%end %>
    </tbody>
  </table>
</div>
<br>
<h4>Movies</h4>
<div>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Creator</th>
        <th>Published</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <%@top_movies.each do |movie|%>
        <tr>
          <td><strong><%=link_to movie.title, work_path(movie.id) %></strong></td>
          <td><%=movie.creator %></td>
          <td><%=movie.publication_year %></td>
          <td><%=movie.description %></td>
        </tr>
      <%end %>
    </tbody>
  </table>
</div>
