<section class="spotlight">
  <h2>
    <span class="spotlight__header">Media Spotlight:</span>
    <% @top_work = Work.spotlight %>
    <%= link_to "#{@top_work.title}", work_path(@top_work), class: "spotlight__link-to" %><%= "by #{@top_work.creator}" %>
  </h2>
  <p class="spotlight__description"><%= "#{@top_work.votes.count} Votes - #{@top_work.description}" %></p>
</section>

<section class="top-ten__container">
  <%= render partial: 'top-ten_table', locals: {category: "movie"} %>
  <%= render partial: 'top-ten_table', locals: {category: "book"} %>
  <%= render partial: 'top-ten_table', locals: {category: "album"} %>
</section>
















<!--page-->
<!--<section class="spotlight">-->
<!--  <h2 class="spotlight__header">-->
<!--    Media Spotlight-->
    <%#= link_to "#{Work.spotlight.title}", work_path(Work.spotlight)%>
    <%#= "by #{Work.spotlight.creator}" %>
<!--  </h2>-->
<!--  <%#= Work.spotlight.votes.count %><p>votes, </p><%#= Work.spotlight.description %>-->

<!--</section>-->

<!--<hr>-->

<!--<section class="top-ten__container">-->

<!--  album-->
<!--  <section class="top-ten__list-container">-->
<!--    <h2 class="album top-ten__header">Top Albums</h2>-->
    <%# Work.top_ten("album") %>
<!--    <ul>-->
      <%# Work.top_ten("album").each do |album| %>
<!--        <h5><%#= link_to album.title, work_path(album) %></h5>-->
<!--        <p><%#= "by #{album.creator}" %></p>-->
<!--        <p><%#= "#{album.votes.count}" %>votes</p>-->
      <%# end %>
<!--      <li>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </section>-->

<!--  book-->
<!--  <section class="top-ten__list-container">-->
<!--    <h2 class="book top-ten__header">Top Books</h2>-->
    <%# Work.top_ten("book") %>
<!--    <ul>-->
      <%# Work.top_ten("book").each do |book| %>
<!--        <h5><%#= link_to book.title, work_path(book) %></h5>-->
<!--        <p><%#= "by #{book.creator}" %></p>-->
<!--        <p><%#= "#{book.votes.count}" %>votes</p>-->
      <%# end %>
<!--      <li>-->
<!--      </li>-->
<!--    </ul>-->

<!--  </section>-->

<!--  movie-->
<!--  <section class="top-ten__list-container">-->
<!--    <h2 class="movie top-ten__header">Top Movies</h2>-->
    <%# Work.top_ten("movie") %>
<!--    <ul>-->
      <%# Work.top_ten("movie").each do |movie| %>
<!--        <h5><%#= link_to movie.title, work_path(movie) %></h5>-->
<!--        <p><%#= "by #{movie.creator}" %></p>-->
<!--        <p><%#= "#{movie.votes.count}" %>votes</p>-->
      <%# end %>
<!--      <li>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </section>-->
<!--</section>-->











