<section class="spotlight"> 
    <h2> 
        Media Spotlight:
        <%= link_to @spotlight.title, work_path(@spotlight.id), :class => "#{@spotlight.category}" %>
        <small>by <%= @spotlight.creator %></small>
      </span>
    </h2>
     <%= @spotlight.votes.count %> votes, <%= @spotlight.description %>
  </section>

  <hr>

  <section class="top-ten__container">
    <%= render partial: "top_ten_table", locals: { category: "album" } %>
    <%= render partial: "top_ten_table", locals: { category: "book" } %>
    <%= render partial: "top_ten_table", locals: { category: "movie" } %>
  </section>