<section class="spotlight"> 
  <% if @spotlight %>
    <h2> 
        Media Spotlight:
        <%= link_to @spotlight.title, work_path(@spotlight.id), :class => "#{@spotlight.category}" %>
        <small>by <%= @spotlight.creator %></small>
      </span>
    </h2>
     <%= @spotlight.votes.count %> votes, <%= @spotlight.description %>
  <% else %>
    <p> There is no spotlight currently </p>
  <% end %>
</section>

  <hr>

<section class="top-ten__container">
  <%= render partial: "top_ten_table", locals: { category: "Album", works: @top_albums } %>
  <%= render partial: "top_ten_table", locals: { category: "Book", works: @top_books  } %>
  <%= render partial: "top_ten_table", locals: { category: "Movie", works: @top_movies  } %>
</section>