<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <section class="title"><h1>Media Ranker</h1></section>
      <nav>
        <ul>
          <li><a href="/works">All Works</a></li>
          <li><a href="/users">All Users</a></li>
          <li><a href="/works/new">New Work</li>
          <li><a href="/homepages">Top Media</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p> All Rights Reserved. Sophia Donan 2020.</p>
    </footer>
  </body>
</html>
