<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <header>
      <% if session[:user_id] %>
        <% @user = User.find_by(id: session[:user_id]) %>
        <%= link_to "Logged in as #{@user.username}", user_path(@user), class: "btn btn-primary" %>
        <%= link_to "Log Out", logout_path, method: :post, class: "btn btn-primary" %>
      <% else %>
        <%= link_to "Log In", login_path, class: "btn btn-primary" %>
      <% end %>

    </header>

    <% if flash.any? %>
      <section class="alert_container">
        <div class="alert alert-warning">

          <% flash.each do |name, message| %>
            <span class="<%= name %>" >
              <%= message %>
            </span>
          <% end %>

          <ul>
            <% if (@user && @user.errors.any?) %>
              <% @user.errors.each do |column, message| %>
                <li>
                  <%= column %>: <%= message %>
                </li>
              <% end %>
            <% end %>
          </ul>

          <ul>
            <% if (@work && @work.errors.any?) %>
              <% @work.errors.each do |column, message| %>
                <li>
                  <%= column %>: <%= message %>
                </li>
              <% end %>
            <% end %>
          </ul>

          <ul>
            <% if session[:error] %>
              <% session[:error].each do |column, message| %>
                <li>
                  <%= column %>: <%= message.first %>
                </li>
              <% end %>
              <% session[:error] = nil %>
            <% end %>
          </ul>
        </div>
      </section>
    <% end %>

  <main>
    <%= yield %>
  </main>

  </body>
</html>
