<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <nav>
      <div class="nav">
        <%=link_to "Home", root_path %>
        <%=link_to "View All Media", works_path %>
        <%=link_to "Add New Media", new_work_path %>
        <%=link_to "View All Users", users_path %>
      </div>

      <% session_user = User.find_by(id: session[:user_id]) %>
      <% if session_user %>
      <%= button_to "LOGOUT", logout_path%>
        <%= link_to "Logged in as #{session_user.name}", current_user_path, class: "btn btn-primary"%>
        <%else %>
      <%= button_to "LOGIN", login_path, method: :get %>
      <%end %>
      <%#=link_to "All Users", work_path %>
      <%#=link_to "Add New User", work_path %>
    </nav>
    <section class="=flash" style="color:purple;text-align:center">
      <% flash.each do |name, message| %>
        <div class=<%=name%>><%=message%></div>
      <% end %>
    </section>
  </header>
  <body>
    <%= yield %>
  </body>
<footer>
  <nav>
    <%=link_to "Home", root_path %>
    <%=link_to "All Media", works_path %>
    <%=link_to "Add New Media", new_work_path %>
    <%=link_to "View All Users", users_path %>

    <%#=link_to "All Users", work_path %>
    <%#=link_to "Add New User", work_path %>
  </nav>
</footer>
</html>
