<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header><h1><%= link_to "Media Ranker", root_path %> | Ranking the Best of Everything</h1>
      <nav> <%= link_to "View top media", root_path %>  --
        <%= link_to "View all media", works_path %>  --
        <%= link_to "Add a new work", new_work_path %>  --
        placeholder view all users -- placeholder login
<!--    <%#= link_to "View all users", new_user_path %>  ---->
        <%#= button_to "Log In", login_user_path, method: :patch %>
      </nav>
      <hr>
      <section class="flash">
        <% flash.each do |name, message| %>
          <div class="<%=name%>"><%= message %></div>
        <% end %>
      </section>
    </header>
    <%= yield %>
  </body>
</html>
