<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1> <%= link_to 'Media Ranker', root_path %> | </h1>
      <h2>Ranking the Best of Everything</h2>
      <nav>
        <%= link_to 'View top media', root_path %>
        <%= link_to 'View all media', works_path %>
        <%= link_to 'Add a new work', new_work_path %>
        <%= link_to 'View all users', users_path %>
        <% if session[:user_id] %>
          <%= button_to 'logout', logout_path, method: :post %>
        <% else %>
          <%= button_to 'login', login_path, method: :get %>
        <% end %>
      </nav>
      <section class="flash">
        <% flash.each do |name, message| %>
          <div class="<%= name %>">
            <%= message %>
          </div>
        <% end %>
      </section>
    </header>
    <%= yield %>
  </body>
</html>
