<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav>
    <%= link_to "Home", root_path %>
    <%= link_to "All Media", works_path %>
    <% if session[:user_id] %>
      <%= link_to "Logout", logout_path, method: :post %>
    <% else %>
      <%= link_to "Login", login_path %>
    <% end %>
  </nav>

  <body>
    <section class="flash-msg_section">
      <% flash.each do |name, message| %>
        <strong class="<% name %>">
          <%= message %>
        </strong>
      <% end %>
    </section>

    <%= yield %>
  </body>

  <footer>
    Copyright © 2020 India Kato. All Rights Reserved.
  </footer>
</html>
