<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <nav>
      <%= link_to "Home", root_path %>
      <%= link_to "View all media", works_path %>
      <%= link_to "Add new work", new_work_path %>
      <% unless session[:user_id] %>
        <%= link_to "Log In", login_path %>
      <% else %>
        <%= link_to "Logged in as #{User.find_by(id: session[:user_id]).username}", user_path(id: session[:user_id]) %>
      <% end %>
      <%= link_to "Log Out", logout_path, method: :post %>
    </nav>
  </header>
  <body>
  <section class="flash-msg__section">
    <% flash.each do |name, message| %>
      <strong class="<%= name %>">
        <%= message %>
      </strong>
    <% end %>
  </section>
    <%= yield %>
  </body>
</html>
