<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <header>

    </header>

    <% if flash.any? %>
      <section class="alert_container">
        <div class="alert alert-warning">

          <% flash.each do |name, message| %>
            <span class="<%= name %>" >
              <%= message %>
            </span>
          <% end %>

          <ul>
            <% if (@user && @user.errors.any?) %>
              <% @user.errors.each do |column, message| %>
                <li>
                  <%= column %>: <%= message %>
                </li>
              <% end %>
            <% end %>
          </ul>

          <ul>
            <% if (@work && @work.errors.any?) %>
              <% @work.errors.each do |column, message| %>
                <li>
                  <%= column %>: <%= message %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </section>
    <% end %>


  <main>
    <%= yield %>
  </main>

  </body>
</html>
