<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<!--    header-->
    <div>

    </div>

<!--  header navbar-->
  <nav>
    <button>
    </button>
    <div>
      <div>
        <%= link_to "view top media"%>
        <%= link_to "view all media"%>
        <%= link_to "add a new work"%>
        <%= link_to "view all users"%>
      </div>
    </div>

  </nav>


    <div>
      <%= yield %>
    </div>

  </body>

</html>
