<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <body>
    <header>
      <nav class="header_nav">
        <h1><%= link_to 'Media Ranker', homepages_path %> Ranking the Best of Everything</h1>
        <ul class="header_nav_links">
          <li><%= link_to 'View Top Media', homepages_path %></li>
          <li><%= link_to 'View All Media', works_path %></li>
          <li><%= link_to 'Add New Work', new_work_path %></li>
          <li><%= link_to 'View All Users', users_path %></li>
          <%# if session[:user_id] %>
<!--          <li> <%#= link_to "Log out", logout_path, method: "delete" %> </li>-->
          <%# else %>
<!--          <li> <%#= link_to "Login with Github", github_login_path %> </li>-->
          <%# end %>
          <% if session[:user_id] %>
          <li> <%= link_to "Logout", logout_path, method: :post %></li>
            <% else %>
          <li> <%= link_to "Login", login_path %></li>
        <% end %>
        </ul>
      </nav>
    </header>
    <section class="flash-msg__section">
      <% flash.each do |name, message| %>
        <strong class="<%= name %>">
          <%= message %>
        </strong>
      <% end %>
    </section>
  <main>
    <%= yield %>
  </main>
  </body>
</html>
