<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header class="app-header__header">
    <h1>
      <a href="/">Media Ranker</a>
      <small>Ranking the Best of Everything</small>
    </h1>

    <nav class="app-header__nav">

      <ul class="nav app-header__site-nav-container">
        <li class="nav-item app-header__nav_item">
          <%=link_to "View top media", root_path%>
        </li>
        <li class="nav-item app-header__nav_item">
          <%=link_to "View all media", works_path%>
        </li>
        <li class="nav-item app-header__nav_item">
          <%=link_to "Add a new work", new_work_path%>
        </li>
        <li class="nav-item app-header__nav_item">
          <%=link_to "View all users", users_path%>
        </li>
      </ul>

      <ul class ="nav app-header__user-nav-container">
        <% if @current_user %>
          <li class="nav-item app-header__nav_item">Logged in as: <%=link_to "#{@current_user.name}", user_path(@current_user) %>
          </li>
          <li class="nav-item app-header__nav_item">
            <%=link_to "Logout", logout_path, method: :delete,  class: "btn btn-primary",data: { confirm: "Are you sure you want to logout?"} %>
          </li>
        <% else %>
          <li class="nav-item app-header__nav_item">
            <%=link_to "Login", login_path, class: "btn btn-primary"%>
          </li>
        <% end %>
      </ul>
    </nav>
  </header>

  <main>

    <section class="flash">
      <% flash.each do |key_word, message| %>
        <div class="<%= key_word %>"><%=message%></div>
      <% end %>
    </section>

    <%= yield %>

  </main>


  <footer class="pt-5 px-5">
    <p>RANKED © <%= Date.today.year %> <%= link_to "Stacy", "https://github.com/stacylundquist", target: "_blank" %></p>
  </footer>
  </body>
</html>
