<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="app-header__header">
      <h1><a href="">Media Ranker</a>
      <small>Ranking the Best of Everthing</small>
        <div></div>
      </h1>
      <nav class="app-header__nav">
        <ul class="nav app-header__site-nav-container">
          <li class="nav-item app-header__nav_item"><a class="nav-link" href="/">View top media</a></li>
          <li class="nav-item app-header__nav_item"><a class="nav-link" href="/works">View all media</a></li>
          <li class="nav-item app-header__nav_item"><a class="nav-link" href="/works/new">Add a new work</a></li>
          <li class="nav-item app-header__nav_item"><a class="nav-link" href="/users">View all users</a></li>
        </ul>

        <ul class="nav app-header__user-nav-container">
          <% if session[:user_id] %>
            <li><%= link_to "Logged in as #{ User.find_by(id: session[:user_id]).username }", current_user_path(session[:user_id]), class: "nav-iem app-header__nav_item" %></li>
            <li><%= link_to "Log Out", logout_path, method: :post, class: "nav-iem app-header__nav_item" %></li>
            <% else %>
          <li><%= link_to "Log In", login_path, class: "nav-iem app-header__nav_item"%></li>
            <% end %>
        </ul>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
