<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to "Media Ranker | Ranking the Best of Everything", root_path%>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "View top media", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%=link_to "View all media", works_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%=link_to "Add new work", new_work_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%=link_to "View all users", users_path, class: "nav-link" %>
        </li>
      </ul>
      <% if session[:user_id] %>
        <%= button_to "Logout", logout_path, method: :post %>
      <%else %>
        <%=button_to "Log in", login_path, method: :get %>
      <%end %>
    </div>
  </nav>

  <section class="flash-msg__section">
    <% flash.each do |name, message| %>
      <strong class="<%= name %>">
        <%= message %>
      </strong>
    <% end %>
  </section>

  <body>
    <%= yield %>
  </body>
</html>
