<!DOCTYPE html>
<html>
  <head>
    <title>Media Ranker 2.0</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="Oi0tUu9tB6DbnJzPo3eUxgonQX90KgDikEe8TySlFruRAqI1+xdcHv60/f2bbIzn+eF6k24GbMQ8Aa1JNvjOVg==" />

    <link rel="shortcut icon" type="image/x-icon" href="/public/favicon.ico"/>

    <link rel="stylesheet" media="screen" href="assets/application-23e0d10ed2d885fab99a6549bc004eca19f49cf694e045afebe16b6e9bf1345a.css" />
    <link rel="stylesheet" media="screen" href="../fonts.googleapis.com/csse5ac.css?family=Gudea:400,700|Hammersmith+One" />
    <link rel="stylesheet" media="all" href="assets/application-23e0d10ed2d885fab99a6549bc004eca19f49cf694e045afebe16b6e9bf1345a.css" data-turbolinks-track="reload" />
    <script src="assets/application-f29d14b755d80577972d103e106ff1c2bc9a53efbc3b1e775d62d596da7222db.js" data-turbolinks-track="reload"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

