<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <%#link_to # VIEW TOP MEDIA %>
  <%#link_to # VIEW ALL MEDIA %>
  <%#link_to # ADD A NEW WORK %>
  <%#link_to # VIEW ALL USERS %>
  <header>
    <nav>
      <div class="nav">
        <%=link_to "Home", root_path %>
        <%=link_to "View All Media", works_path %>
        <%=link_to "Add New Media", new_work_path %>
        <%=link_to "View All Users", users_path %>
      </div>

      <%=link_to "LOGIN", login_path%>
      <%#=link_to "All Users", work_path %>
      <%#=link_to "Add New User", work_path %>
    </nav>
    <section class="=flash" style="color:purple;text-align:center">
      <% flash.each do |name, message| %>
        <div class=""<%=name%><%=message%></div>
      <% end %>
    </section>
  </header>
  <body>
    <%= yield %>
  </body>
<footer>
  <nav>
    <%=link_to "Home", root_path %>
    <%=link_to "All Media", works_path %>
    <%=link_to "Add New Media", new_work_path %>
    <%=link_to "View All Users", users_path %>

    <%#=link_to "All Users", work_path %>
    <%#=link_to "Add New User", work_path %>
  </nav>
</footer>
</html>
