<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/header' %>

    <% if flash %>
      <%= render partial: 'shared/flash' %>
    <% elsif @work %>
      <%= render partial: 'shared/flash', :locals => { :errors => @work.errors } %>
    <% elsif @user %>
      <%= render partial: 'shared/flash', :locals => { :errors => @user.errors } %>
    <% elsif @vote %>
      <%= render partial: 'shared/flash', :locals => { :errors => @vote.errors } %>
    <% end %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
