<!DOCTYPE html>
<html>
  <head>
    <title>Media Ranker 2.0</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
     <%= favicon_link_tag asset_path('owl-favicon.png') %>
  </head>
  <body>

  <header class="text-center">
    <h1><a href="/" class="MR">Media Ranker</a> | <small>Ranking the Best of Everything</small></h1>
    <nav class="nav align-bottom">
      <a class="nav-link active" href="/">View top Media</a>
      <a class="nav-link" href="#">View all media</a>
      <a class="nav-link" href="#">Add a new work</a>
      <a class="nav-link" href="#">View all users</a>
      <button type="button" class="btn btn-info float-right">Log In</button>
    </nav>
  </header>
  <div class="container">
    <%= yield %>
  </div><!--  </div> end container-->
  </body>
</html>
