<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Media Ranker</h1>
      <nav>
        <%= link_to "View Top Media", works_path %> ||
        <%= link_to "View All Media", works_path %> ||
        <%= link_to "Add a New Work", new_work_path %> ||
        <%= link_to "View All Users", users_path %> ||

        <% if session[:user_id] %>
          <%= link_to "Log Out", logout_path, method: :post %>
        <% else %>
          <%= link_to "Log In", login_path %> ||
        <% end %>
      </nav>
    </header>
    <%= yield %>
  </body>
  <footer>©Ada 2020 Emily Nagai</footer>
</html>
