<html>
  <head>
    <title>Media Ranker 2.0</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <link href="favicon.ico?v=1.0" rel="icon" type="image/x-icon"/>
  </head>
  <body>
    <%= yield %>
  </body>
</html>

