<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav>
    <%= link_to "Home", root_path %>
    <%= link_to "All Media", works_path %>
  </nav>

  <body>
    <%= yield %>
  </body>

  <footer>
    Copyright © 2020 India Kato. All Rights Reserved.
  </footer>
</html>
